.container {
  display: flex;
  justify-content: center;
  padding: 5em 2em;
  font-family: sans-serif;
}

.wrapper {
  position: relative;
}

.bin rect {
  fill: hsl(221deg 98% 67%);
  transition: fill 250ms;
}

.bin:hover rect {
  fill: hsl(276deg 98% 67%);
}

.bin text {
  text-anchor: middle;
  fill: hsl(0deg 0% 66%);
  font-size: 12px;
  font-family: sans-serif;
}

.mean {
  stroke: hsl(356deg 100% 25%);
  stroke-dasharray: 2px 4px;
}

.x-axis-label {
  fill: black;
  font-size: 1.4em;
  text-transform: capitalize;
}

.tooltip {
  opacity: 0;
  position: absolute;
  top: -12px;
  left: 0;
  padding: 0.6em 1em;
  background: hsl(0deg 0% 100%);
  text-align: center;
  border: 1px solid hsl(0deg 0% 87%);
  z-index: 10;
  transition: all 0.2s ease-out;
  pointer-events: none;
}

.tooltip:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 12px;
  height: 12px;
  background: hsl(0deg 0% 100%);
  border: 1px solid hsl(0deg 0% 87%);
  border-top-color: transparent;
  border-left-color: transparent;
  transform: translate(-50%, 50%) rotate(45deg);
  transform-origin: center center;
  z-index: 10;
}

.tooltipRange {
  margin-bottom: 0.2em;
  font-weight: 600;
}
