.container {
  display: flex;
  justify-content: center;
  padding: 5em 1em;
  font-family: sans-serif;
}

.wrapper {
  position: relative;
}

.freezing {
  fill: hsl(180deg 44% 92%);
}

.listenerRect {
  fill: transparent;
}

.tooltip {
  opacity: 0;
  position: absolute;
  top: -14px;
  left: 0;
  padding: 0.6em 1em;
  background: hsl(0deg 0% 100%);
  text-align: center;
  line-height: 1.4em;
  font-size: 0.9em;
  border: 1px solid hsl(0deg 0% 87%);
  z-index: 10;
  transition: all 0.1s ease-out;
  pointer-events: none;
}

.tooltip:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 12px;
  height: 12px;
  background: hsl(0deg 0% 100%);
  border: 1px solid hsl(0deg 0% 87%);
  border-top-color: transparent;
  border-left-color: transparent;
  transform: translate(-50%, 50%) rotate(45deg);
  transform-origin: center center;
  z-index: 10;
}

.tooltipDate {
  margin-bottom: 0.2em;
  font-weight: 600;
  font-size: 1.1em;
  line-height: 1.4em;
}

.tooltipDot {
  opacity: 0;
  fill: hsl(0deg 0% 100%);
  stroke: hsl(41deg 35% 52%);
  stroke-width: 2px;
  pointer-events: none;
  transition: opacity 250ms, transform 250ms;
}

.tooltipLine {
  opacity: 0;
  stroke: hsl(41deg 35% 52% / 0.5);
  stroke-width: 2px;
  pointer-events: none;
  transition: opacity 250ms, transform 250ms;
}
