.axisLine {
  stroke: black;
}

.axisLabel {
  text-anchor: middle;
  font-size: 14px;
  /* letter-spacing: 0.01em; */
}

.axisTickHorizontal {
  font-size: 10px;
  transition: all 0.3s ease-out;
  text-anchor: middle;
}

.axisTickVertical {
  font-size: 10px;
  transition: all 0.3s ease-out;
  dominant-baseline: middle;
  text-anchor: end;
}
