.axisLine {
  stroke: black;
}

.axisLabel {
  text-anchor: middle;
  font-size: 0.8em;
  letter-spacing: 0.01em;
}

.axisTickHorizontal {
  font-size: 0.9em;
  transition: all 0.3s ease-out;
  text-anchor: middle;
}

.axisTickVertical {
  font-size: 0.9em;
  transition: all 0.3s ease-out;
  dominant-baseline: middle;
  text-anchor: end;
}
