.App {
  text-align: center;
}

.Logo-row {
  display: flex;
  align-items: center;
}

.React-logo,
.D3-logo {
  height: 40vmin;
  pointer-events: none;
}

.Plus-sign {
  margin-left: -48px;
  margin-right: 48px;
  font-size: 72px;
  font-weight: 900;
}

@media (prefers-reduced-motion: no-preference) {
  .React-logo {
    animation: React-logo-spin infinite 20s linear;
  }
}

.App-header {
  margin: -8px;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes React-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

button {
  font-size: calc(10px + 2vmin);
}

